<?xml version="1.0"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="data source=DatabaseServer.dev.GenesysFramework.com;initial catalog=FoundationData;integrated security=True;multipleactiveresultsets=True;application name=GenesysFramework" providerName="System.Data.EntityClient" />
  <!-- Test connection strings that have no real data -->
  <add name="TestEFConnection" connectionString="metadata=res://*/Test.csdl|res://*/Test.ssdl|res://*/Test.msl;provider=System.Data.SqlClient;provider connection string='data source=test.server.local;initial catalog=TestDB;integrated security=True;multipleactiveresultsets=True;application name=GenesysExtensionsTest'" providerName="System.Data.EntityClient" />
  <add name="TestADOConnection" connectionString="Data Source=test.server.local;Initial Catalog=MyDB;user ID=TestUser;password=TestPassword;Connect Timeout=180;Application Name=GenesysExtensionsTest;" providerName="System.Data.EntityClient" />
</connectionStrings>
